@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 654px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 518px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 390px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 329px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 290px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 235px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Noto Sans";
  font-weight: 400;
  color: hsl(226, 11%, 37%);
  font-size: 1.6rem;
  background-image: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}
body.dark-mode {
  background-image: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.container {
  width: 100%;
  max-width: 117rem;
  margin: 4rem;
}
@media (max-width: 826px) {
  .container {
    margin: 2.4rem 3.2rem;
  }
}
@media (max-width: 390px) {
  .container {
    margin: 2rem 1.6rem;
  }
}

.header {
  background-color: hsl(200, 60%, 99%);
  border: 0.1rem solid hsl(217, 61%, 90%);
  border-radius: 2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 7.4rem;
  margin-bottom: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.2rem 0.3rem 0 hsl(213, 55%, 90%);
}
@media (max-width: 826px) {
  .header {
    margin-bottom: 4rem;
  }
}
.header__logo {
  display: flex;
  height: 4.1rem;
  width: 17.9rem;
  background-image: url(/assets/images/logo.svg);
}
.header__dark-mode-btn {
  background-color: hsl(0, 0%, 93%);
  border: none;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-image: url(/assets/images/icon-moon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2.2rem 2.2rem;
}

body.dark-mode .header {
  background-color: hsl(226, 25%, 17%);
  border: none;
  box-shadow: none;
}
body.dark-mode .header__logo {
  background-image: url(/assets/images/logo-darkmode.svg);
}
body.dark-mode .header__dark-mode-btn {
  background-color: hsl(225, 23%, 24%);
  background-image: url(/assets/images/icon-sun.svg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}
@media (max-width: 390px) {
  .navbar {
    flex-direction: column;
    gap: 2.4rem;
  }
}
.navbar__heading {
  color: hsl(226, 75%, 14%);
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}
.navbar__buttons {
  display: flex;
  gap: 1.2rem;
}
.navbar__button {
  background-color: hsl(200, 60%, 99%);
  border: 0.1rem solid hsl(217, 61%, 90%);
  border-radius: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  color: hsl(226, 75%, 14%);
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: -0.03rem;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.2rem 0.3rem 0 hsl(213, 55%, 90%);
  height: 4.6rem;
}
.navbar__button--active {
  color: hsl(200, 60%, 99%);
  background-color: hsl(3, 77%, 44%);
}

body.dark-mode .navbar__heading {
  color: hsl(200, 60%, 99%);
}
body.dark-mode .navbar__button {
  background-color: hsl(225, 23%, 24%);
  border: 0.1rem solid hsl(226, 11%, 37%);
  color: hsl(200, 60%, 99%);
  box-shadow: unset;
}
body.dark-mode .navbar__button--active {
  color: hsl(226, 75%, 14%);
  background-color: hsl(3, 86%, 64%);
}

.extension-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.2rem;
  row-gap: 1.2rem;
}
@media (max-width: 1091px) {
  .extension-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 390px) {
  .extension-list {
    grid-template-columns: 1fr;
  }
}

.extension {
  background-color: hsl(200, 60%, 99%);
  border: 0.1rem solid hsl(217, 61%, 90%);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 0.2rem 0.3rem 0 hsl(213, 55%, 90%);
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.extension__content {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2rem;
}
.extension__icon {
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.extension__text h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.02rem;
  color: hsl(226, 75%, 14%);
  margin-bottom: 0.8rem;
}
.extension__text p {
  line-height: 140%;
  letter-spacing: -0.05rem;
}
.extension__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.extension__button {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.05rem;
  color: hsl(226, 75%, 14%);
  border: 0.1rem solid hsl(0, 0%, 78%);
  background-color: inherit;
  border-radius: 999rem;
  cursor: pointer;
}
.extension__switch {
  height: 2rem;
  width: 3.6rem;
  border-radius: 2rem;
  background-color: hsl(0, 0%, 78%);
  position: relative;
  cursor: pointer;
}
.extension__switch::before {
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: hsl(200, 60%, 99%);
  transform: translateY(-50%);
  box-shadow: inset 0 0 0 0.2rem hsl(0, 0%, 78%);
  border-radius: 2rem;
}
.extension__switch.active {
  background-color: hsl(3, 77%, 44%);
}
.extension__switch.active::before {
  left: unset;
  right: 0;
  box-shadow: inset 0 0 0 0.2rem hsl(3, 77%, 44%);
}

body.dark-mode .extension {
  background-color: hsl(226, 25%, 17%);
  border: 0.1rem solid hsl(226, 11%, 37%);
  box-shadow: unset;
  color: hsl(200, 60%, 99%);
}
body.dark-mode .extension__text h2 {
  color: hsl(200, 60%, 99%);
}
body.dark-mode .extension__button {
  color: hsl(200, 60%, 99%);
  border: 0.1rem solid hsl(226, 11%, 37%);
}
body.dark-mode .extension__switch {
  background-color: hsl(226, 11%, 37%);
}
body.dark-mode .extension__switch::before {
  background-color: hsl(200, 60%, 99%);
  box-shadow: inset 0 0 0 0.2rem hsl(226, 11%, 37%);
}
body.dark-mode .extension__switch.active {
  background-color: hsl(3, 86%, 64%);
}
body.dark-mode .extension__switch.active::before {
  box-shadow: inset 0 0 0 0.2rem hsl(3, 86%, 64%);
}

/*# sourceMappingURL=style.css.map */
