.header {
  background-color: $Neutral-0;
  border: 0.1rem solid $Neutral-200;
  border-radius: 2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 7.4rem;
  margin-bottom: 6.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $Shadow;

  @media (max-width: $Tablet) {
    margin-bottom: 4rem;
  }

  &__logo {
    display: flex;
    img {
      height: 4.1rem;
    }
  }

  &__dark-mode-btn {
    background-color: $Neutral-100;
    border: none;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    cursor: pointer;

    img {
      width: 2.2rem;
    }
  }
}
