.header {
  background-color: $Neutral-0;
  border: 0.1rem solid $Neutral-200;
  border-radius: 2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 7.4rem;
  margin-bottom: 6.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $Shadow;

  @media (max-width: $Tablet) {
    margin-bottom: 4rem;
  }

  &__logo {
    display: flex;
    height: 4.1rem;
    width: 17.9rem;
    background-image: url(/assets/images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__dark-mode-btn {
    background-color: $Neutral-100;
    border: none;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    background-image: url(/assets/images/icon-moon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2.2rem 2.2rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $Neutral-300;
    }

    &:focus {
      outline: 0.2rem solid $Red-500;
      outline-offset: 0.2rem;
    }
  }
}

body.dark-mode .header {
  background-color: $Neutral-800;
  border: none;
  box-shadow: none;

  &__logo {
    background-image: url(/assets/images/logo-darkmode.svg);
  }

  &__dark-mode-btn {
    background-color: $Neutral-700;
    background-image: url(/assets/images/icon-sun.svg);

    &:hover {
      background-color: $Neutral-600;
    }
  }
}
