$Tablet: 826px;
$Mobile: 390px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size: 55%;
  }

  @media (max-width: 654px) {
    font-size: 45%;
  }

  @media (max-width: 518px) {
    font-size: 40%;
  }

  @media (max-width: $Mobile) {
    font-size: 62.5%;
  }

  @media (max-width: 329px) {
    font-size: 55%;
  }

  @media (max-width: 290px) {
    font-size: 45%;
  }

  @media (max-width: 235px) {
    font-size: 40%;
  }
}

body {
  font-family: $Font;
  font-weight: $Regular;
  color: $Neutral-600;
  font-size: 1.6rem;
  background-image: $Light-Gradient;
  min-height: 100dvh;

  display: flex;
  justify-content: center;

  &.dark-mode {
    background-image: $Dark-Gradient;
  }
}

.container {
  width: 100%;
  max-width: 117rem;
  margin: 4rem;

  @media (max-width: $Tablet) {
    margin: 2.4rem 3.2rem;
  }

  @media (max-width: $Mobile) {
    margin: 2rem 1.6rem;
  }
}
